{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

<div class="row">
    <div class="col-md-10">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'income' %}">Доход</a></li>
              <li class="breadcrumb-item active" aria-current="page">Мои Доходы</li>
            </ol>
        </nav>        
    </div>    
</div>
  <p></p>    

    <div class="card">
      <div class="card-body">
        <form action="{% url 'income-edit' income.id %}" method="post">

        {% include 'partials/messages.html' %}            
        {% csrf_token %}

        <div class="form-group">
            <label for="">СУММА</label>
            <input type="number" class="form-control form-control-sm" name="amount" value="{{values.amount}}">    
        </div>
        <p></p>
        <div class="form-group">
            <label for="">ОПИСАНИЕ</label>
            <input type="text" class="form-control form-control-sm" name="description" value="{{values.description}}">    
        </div>
        <p></p>
        <div class="form-group">
            <label for="">ИСТОЧНИК</label>
            <select class="form-control" name="source">
            <option selected name="source" value="{{values.source}}">{{values.source}}</option>        
            {% for source in sources %} 
            <option name="source" value="{{source.name}}">{{source.name}}</option>
            {% endfor %}
            </select>   
        </div>
        <p></p>
        <div class="form-group">
            <label for="">ДАТА ПОЛУЧЕНИЯ ДОХОДА</label>
            <input type="date" class="form-control form-control-sm" name="income_date" value="{{values.pub_date | date:'Y-m-d' }}">    
        </div>
        <p></p>
        <input type="submit" value="Сохранить" class="btn btn-primary btn-primary-sm">
        </form>

      </div>
    </div>

</div>

{% endblock %}