{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Информация О Расходах</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
           Сводка
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="" class="btn btn-primary">Обновить</a>
    </div>

  </div>

 <div class="row">
  <div class="col-md-6">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div class="col-md-6">

  </div>
 </div>
</div>

<script src="{% static 'js/stats_income.js' %}"></script>

</script>

{% endblock content %}