{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Расходы</a></li>
          <li class="breadcrumb-item active" aria-current="page">Добавить Расходы</li>
        </ol>
    </nav>

    <div class="card">
      <div class="card-body">
        <form action="{% url 'add-expenses' %}" method="post">

        {% include 'partials/messages.html' %}            
        {% csrf_token %}          

        <div class="form-group">
            <label for="">СУММА</label>
            <input type="number" class="form-control form-control-sm" name="amount" value="{{values.amount}}">    
        </div>
        <p></p>
        <div class="form-group">
            <label for="">ОПИСАНИЕ</label>
            <input type="text" class="form-control form-control-sm" name="description" value="{{values.description}}">    
        </div>
        <p></p>
        <div class="form-group">
            <label for="">КАТЕГОРИЯ</label>
            <select class="form-control" name="category">    
            {% for category in categories %} 
            <option name="category" value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
            </select>   
        </div>
        <p></p>
        <div class="form-group">
            <label for="">ДАТА РАСХОДА</label>
            <input type="date" class="form-control form-control-sm" name="expense_date">    
        </div>
        <p></p>
        <input type="submit" value="Добавить" class="btn btn-primary btn-primary-sm">
        </form>

      </div>
    </div>

</div>



{% endblock %}