{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">     
    <div class="col-md-10">    
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Расходы</a></li>
          <li class="breadcrumb-item active" aria-current="page">Мои Расходы</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
      <a href="{% url 'add-expenses' %}" class="btn btn-outline-success">Добавить Расходы</a>
    </div>
  </div>
  <p></p>
  <div class="container">
    {% include 'partials/messages.html' %}
    {% if expenses.count %}

    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" class="form-control" id="searchField" placeholder="Поиск">
        </div>
      </div>
    </div>
    
    <p></p>    

    <div class="app-table">
      
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>Amount ({{currency}})</th>
            <th>Catergory</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
  
          {% for expense in page_obj %}
          <tr>
            <td>{{expense.amount}}</td>
            <td>{{expense.category}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.pub_date}}</td>            
            <td>
              <a href="{% url 'expense-edit' expense.id %}" class="btn btn-outline-success btn-sm">Edit</a>
              <a href="{% url 'expense-delete' expense.id %}" class="btn btn-outline-danger btn-sm">X</a>            
            </td>                        
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <p class="no-results" style="display: none;">No results </p>

    <div class="table-output">

      <table class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>Amount ({{currency}})</th>
            <th>Catergory</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-body">            
          
        </tbody>
      </table>

    </div>


  
    <div class="pagination-container">
      <div class="">
        Отображаемая страница {{page_obj.number}} из {{ page_obj.paginator.num_pages }}
      </div>

    <ul class="pagination justify-content-end pagination-sm">
      {% if page_obj.has_previous %}
        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущий</a></li>
      {% endif %}
  
      {% if page_obj.has_next %}
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующий</a></li>
        <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}
  
  
    </ul>
      {% endif %}
    </div>
  
</div>

<script src="{% static 'js/searchExpenses.js' %}"></script>

{% endblock %}