{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Информация О Расходах</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
           Сводка
          </li>
        </ol>
      </nav>
    </div>    
    
 <div class="row">
   <div class="col-md-5">
     <canvas id="myChart" width="400" height="400"></canvas>
   </div>

   <div class="col-md-6">

    <div class="section-todo-list">
        
        <h2><i class="fa fa-tasks" aria-hidden="true"></i> Заметки</h2>
        <div class="input-btn">
            <input type="text">
            <button onclick="addTasks()">Добавить запись</button>
        </div>
        <div class="list-tasks">
            <ul>
                <li>name of task more content <span>X</span></li>
                <li>name of task more content <span>X</span></li>
                <li>name of task more content <span>X</span></li>
                <li>name of task more content <span>X</span></li>
            </ul>
        </div>
        <button class="remove-all" onclick="deleteAll()">Удалить Заметки</button>
    </div>

   </div>
 </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/stats.js' %}"></script>
{% endblock content %}